/* This file will hold styles that are loaded using the same media query as the narrow grid. */

#wrap-right {
  background: none;
}

#wrap-left {
  margin-left: 0;
  padding-right: 0;
  background: none;
}

.page {
  background: transparent url(../img/bg/bg_body_720.png) no-repeat center top;
}

#region-action-search, #region-action-user {
    width: 700px;
    margin-left: 10px;
    margin-right: 10px;
}


#block-user-login .lead-text {
  width: 70px;
}
#block-user-login .form-item {
  width: 250px;
}
#block-user-login .form-actions {
  width: 65px;
}

#block-search-form .form-item {
  width: 585px;
}
#block-search-form .form-actions {
  width: 75px;
}


/* *** CAMPAIGN *** */

.pane-campaign {
    display: block;
}


/* *** PANELS *** change to Omega panels *** */

/*
.front .panel-2col-stacked .panel-col-top {
  display: block;
}

.panel-2col-stacked .panel-col-first {
  width: 70%
}

.panel-2col-stacked .panel-col-last {
  width: 30%;
  display: block;
}

.panel-3col .panel-col {
    width: 50%;
}

.panel-3col .panel-col-first {
    width: 25%;
}

.panel-3col .panel-col-last {
    width: 25%;
    display: block;
}

*/
